/*------------------------------------- Generic Styles*/

body {
    min-height: 100vh;
}

.uppercase {
    text-transform: uppercase;
}

/*------------------------------------- Header title*/

.header-title {
    background-color: rgba(40, 156, 245, 0.608);
}

h1 {
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

h1:hover {
    color: rgb(245, 219, 68);
    opacity: 1;
    transition: 0.5s;
}

.title-link:hover {
    text-decoration: none;
}


/*-------------------------------------Menu/Nav*/

.menucontainer {
    font-size: 0;
}


.bg-color-menu {
    background: rgba(240, 57, 24, 0.629);
}

.menu-item-color {
    color: aliceblue;
}

.menu-item {
    text-align: center;
    height: 75px;
}

.menu-item a {
    text-decoration: none;
    width: 100%;
    font-size: 25px;
}

.nav-col {
    padding: 0;
}

#nav {
    margin-bottom: 0;
}

#nav li {
    padding: 0;
    padding-top: 18px;
    margin: 0;
    border: 1px solid;
}

#nav li:hover {
    background-color: rgba(240, 135, 23, 0.667);
    opacity: 1;
    transition: 0.5s;
}

#nav li i {
    color: aliceblue;
}

#nav li span:hover {
    color: rgba(240, 225, 23, 0.667);
    transition: 0.5s;
}

#nav li i:hover {
    color: rgba(240, 225, 23, 0.667);
    transition: 0.5s;
}

.active {
    color: rgb(1, 9, 17);
    background-color: rgba(40, 156, 245, 0.608);
    opacity: 1;
    border: 1px solid black;
}

.dropdown {
    padding-top: 35px;
}

.dropdown-menu {
    min-width: 10px;
}

button i {
    font-size: 30px;
}

.dropdown-toggle::after {
    content: none;
}

/*------------------------------------------ Main section*/

section {
    height: 759px;
    background: url(../images/rs_1024x759-170714115653-1024-generic-restaurant.avif) no-repeat center center/cover;
    z-index: 0;
    background-attachment: fixed;
}

.free-meals {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 20px;
    margin: 10px 0;
}

.opening-times {
    background-color: rgba(0, 0, 0, 0.692);
    color: aliceblue;
    font-size: 20px;
    border-radius: 100px;
    margin: 30px 20px;
    height: 200px;
    width: 400px;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
}

.opening-times h2 {
    text-align: center;
    text-decoration: underline;
}

/*------------------------------------------ Home page*/

.about-us {
    background-color: rgba(0, 0, 0, 0.692);
    color: aliceblue;
    font-size: 20px;
    padding: 20px 40px 10px 40px;
    border-radius: 20px;
}

.family-dinner {
    background: url(../images/pexels-fauxels-3184183.jpg) no-repeat center center/cover;
    z-index: 1;
    border-radius: 250px;
    height: 250px;
    width: 250px;
}

.about-us-row {
    margin-top: 70px;
}

/*------------------------------------------ Book page*/

.book-table {
    background-color: rgba(0, 0, 0, 0.692);
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.book-table-row {
    margin-top: 150px;
}

.modal {
    color: black;
}


/*------------------------------------------ Contact*/

.contact {
    background-color: rgba(0, 0, 0, 0.692);
    color: aliceblue;
    font-size: 30px;
    padding: 20px 0 0 0;
    text-align: center;
    border: 1px solid
}

.contact-row {
    margin-top: 150px;
}

.contact h2 {
    text-decoration: underline;
    margin-bottom: 20px;
}

.contact-item {
    border: 1px solid
}

/*------------------------------------------ Footer */

footer {
    position: absolute;
    width: 100%;
}

.footer-container {
    padding: 0;
}

.footer-items {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding-top: 10px;
}

.footer-items span {
    font-size: 20px;
}

.copyright {
    padding-bottom: 15px;
    padding-top: 5px;
}

.footer-list i {
    font-size: 40px;
    color: aliceblue;
}

.footer-list .fa-square-facebook:hover {
    color: rgba(98, 114, 237, 0.905);
    transition: 0.5s;
}

.footer-list .fa-square-twitter:hover {
    color: rgba(63, 193, 248, 0.905);
    transition: 0.5s
}

.footer-list .fa-instagram:hover {
    color: rgba(159, 25, 208, 0.905);
    transition: 0.5s;
}
   

