/*------------------------------------- Generic Styles*/

html {
    min-height: 100%;
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}

/*------------------------------------- Header title*/

.header-title {
    background-color: rgba(3, 15, 15, 0.548);
}

h1 {
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

h1:hover {
    color: rgb(0, 0, 0);
    opacity: 1;
    transition: 0.5s;
}

.title-link:hover {
    text-decoration: none;
}


/*-------------------------------------Menu/Nav*/

.menucontainer {
    font-size: 0;
}


.bg-color-menu {
    background:  rgba(3, 15, 15, 0.548);
}

.menu-item-color {
    color: aliceblue;
}

.menu-item {
    text-align: center;
    height: 75px;
}

.menu-item a {
    text-decoration: none;
    width: 100%;
    font-size: 25px;
}

.nav-col {
    padding: 0;
}

#nav {
  margin-bottom: 0;
}

#nav li {
    padding: 0;
    padding-top: 18px;
    margin: 0;
    border: 1px solid;
}

#nav li:hover {
    background-color: rgba(3, 15, 15, 0.771);
    opacity: 1;
    transition: 0.5s;
}

#nav li i {
    color: aliceblue;
}

#nav li span:hover {
    color: rgb(186, 190, 193);
    transition: 0.5s;
}

/*------------------------------------------ Main section*/

section {
    height: 759px;
    background: url(../images/rs_1024x759-170714115653-1024-generic-restaurant.avif) no-repeat center center/cover;
    z-index: 0;
}

/*------------------------------------------ Home page*/

.opening-times {
    background-color: rgba(0, 0, 0, 0.692);
    color: aliceblue;
    font-size: 20px;
    border-radius: 40%;
    margin: 30px 20px;
    height: 200px;
    width: 400px;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
}

.opening-times h2 {
    text-align: center;
    text-decoration: underline;
}

.about-us {
    background-color: rgba(0, 0, 0, 0.692);
    color: aliceblue;
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    border-radius: 15%;
}

.family-dinner {
    background: url(../images/pexels-fauxels-3184183.jpg) no-repeat center center/cover;
    height: auto;
    z-index: 1;
    border-radius: 50%;
    height: 250px;
    margin-left: 50px;
   
}

.about-us-row {
    margin-top: 100px;
}


/*------------------------------------------ Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
    padding: 0;
}

.footer-items {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding-top: 10px;
}

.footer-items span {
    font-size: 20px;
}

.copyright {
    padding-bottom: 15px;
    padding-top: 5px;
}

.footer-list i {
    font-size: 40px;
    color: aliceblue;
}

.footer-list i:hover {
    color: rgba(249, 194, 91, 0.905);
    transition: 0.5s;
}
